@import play.api.i18n.Messages.implicitMessagesProviderToMessages
@(userForm: play.api.data.Form[models.UserData])
@import helper._
@import play.api.data._
@import play.api.i18n._

  <!DOCTYPE html>
<html lang="">
    <head>
        <title>Arif Form</title>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
    </head>
    <body>
        <h1>Insert Your name & Age</h1>
        @helper.form(action = routes.HomeController.processForm()) {
            <!-- Name field -->
          @helper.inputText(
            userForm("name"),
            Symbol("_label") -> "Name",
            Symbol("_error") -> userForm.error("name")
          )
            <!-- Age field -->
          @helper.inputText(
            userForm("age"),
            Symbol("_label") -> "Age",
            Symbol("_error") -> userForm.error("age")
          )

            <button type="submit">SUBMIT</button>
        }
        @userForm.globalErrors.map { error =>
            <p style="color: red;">@error.message</p>
        }
    </body>